<ion-app>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Ingrese su IP:</ion-label>
        <ion-input [(ngModel)]="ip" placeholder="Enter IP" [readonly]="editConf"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Ingrese su Puerto:</ion-label>
        <ion-input [(ngModel)]="port" type="number" placeholder="Enter Port Number" [readonly]="editConf"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button slot="start" (click)="configurar()" color="warning">Configurar</ion-button>
        <ion-button slot="end" (click)="saveConfig()" color="success">Guardar</ion-button>
      </ion-item>

      <ion-item (click)="processRead()" button color="warning">
        Leer Tarjeta
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-title style="font-style: bolder" color="bscYellow" class="titulo">Control de acceso</ion-title>
    </ion-item>
    <ion-grid [hidden]="!this.hasResponse">
      <ion-row>
        <ion-col size="11.8" size-lg class="padding-0">
          <ion-card class="noticia">
            <ion-row>
              <ion-col class="square" size="4">
                <img class="sqare" src="../assets/img/bsc-logo.png" />
              </ion-col>
              <ion-col class="padding-0" size="8">
                <ion-grid class="padding-0">
                  <ion-row>
                    <ion-col size="12" size-lg class="bottom-line">
                      <span class="bold tituloNoticia">PUERTA {{this.cardInfo?.puerta}}</span>
                    </ion-col>
                    <ion-col size="12" size-lg>
                      <span class="bold">LOCALIDAD {{this.cardInfo?.localidad}}</span>
                    </ion-col>
                    <ion-col size="12" size-lg>
                      <span class="bold">Código {{this.cardInfo?.codigo}}</span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
